[submodule "actableai-ml"]
	path = actableai-ml
	url = git@github.com:Actable-AI/actableai-lib.git
	branch = master
[submodule ".github/actions/cached-dependencies"]
	path = .github/actions/cached-dependencies
	url = https://github.com/apache-superset/cached-dependencies.git
