<div class="modal fade" id="modal-archive-org" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                  <h4 class="modal-text">
                    Do you want to delete the Actable AI project?
                  </h4>
                  <h4 class="modal-text">
                    Please send mail to <a href="mailto:support@actable.ai">support@actable.ai</a> to delete
                  </h4>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
