<div class="modal fade" id="resources-modal" tabindex="-1" role="dialog" aria-labelledby="resourcesModal">
  <div class="modal-dialog resources-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header onlyMobile">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="resourcesList">
            <div>
                <a href="https://docs.actable.ai" data-original-title="" title="Documentation" target="_blank">
                    Documentation
                </a>
            </div>
            <div>
                <a href="https://www.actable.ai/solutions/technology" data-original-title="" title="Technology" target="_blank">
                    Technology
                </a>
            </div>
            <div>
                <a href="https://www.actable.ai/company/support" data-original-title="" title="Support" target="_blank">
                    Support
                </a>
            </div>
            <div>
                <a href="https://www.actable.ai/company/contact-us" data-original-title="" title="Contact Us">
                    Contact Us
                </a>
            </div>
            <div>
                <a onclick="_urq.push(['Feedback_Open']);" data-original-title="" title="Feedback" target="_blank">
                    Feedback
                </a>
            </div>
            <div>
                <a href="https://www.actable.ai/company/about-us" data-original-title="" title="" target="_blank">
                    About Us
                </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
