<div class="modal fade" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="shareModal">
  <div class="modal-dialog share-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header onlyMobile">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="share-menu">
          <div>
            <div class="title">Add Owners to your Data, Analytics and Dashboards</div>
            <div class="content">Adding others as owners to your data, analytic and dassboards allows them to view, edit, delete, share, and downlaod your content.</div>
            <div class="onlyMobile">
              <div class="option">Option 1</div>
              <div class="imageRow">
                <embed src="/static/assets/images/tutorial/share/addOwnerOption1Step1.svg">
                <embed src="/static/assets/images/tutorial/share/addOwnerOption1Step2.svg">
              </div>
              <div class="option">Option 2</div>
              <div class="imageRow">
                <embed src="/static/assets/images/tutorial/share/addOwnerOption2Step1.svg">
                <embed src="/static/assets/images/tutorial/share/addOwnerOption2Step2.svg">
              </div>
            </div>
            <div class="notMobile">
              <embed src="/static/assets/images/tutorial/share/ownersOption.png" width="537" height="360">
            </div>
          </div>
          <div>
            <div class="title">Add your Analytics to Dashboards and share it</div>
            <div class="content">You can add your analytics and tables to a new or existing dashboards and share dashboards. Your dashboards can be made private or public.</div>
            <div class="onlyMobile">
              <div class="option"></div>
              <div class="imageRow">
                <embed src="/static/assets/images/tutorial/share/createDashboardStep1.svg">
                <embed src="/static/assets/images/tutorial/share/createDashboardStep2.svg">
              </div>
              <div class="option"></div>
              <div class="imageRow">
                <embed src="/static/assets/images/tutorial/share/createDashboardStep3.svg">
                <embed src="/static/assets/images/tutorial/share/createDashboardStep4.svg">
              </div>
            </div>
            <div class="notMobile">
              <embed src="/static/assets/images/tutorial/share/dashboardOption.png" width="537" height="360">
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
