
{% import 'appbuilder/general/lib.html' as lib %}

{% set fieldsHandle = [
        'database_name', 'db_driver', 'sqlalchemy_uri'
] %}
{% set fieldsConnection = [
        'db_host', 'db_name', 'db_port', 'db_user'
    ]
%}

{% if form_action is defined %}
    <form id="model_form" action="{{form_action}}" method="post" enctype="multipart/form-data">
{% else %}
    <form id="model_form" action="" method="post" enctype="multipart/form-data">
{% endif %}
    {{form.hidden_tag()}}
        <div class="table-form d-flex">
            {{ lib.render_field(form['database_name']) }}
            <div class="col-md-8" id="config_connection">
                <div class="col-md-6 p-0">
                    {{ lib.render_connection(form['db_driver']) }}
                </div>
            <div id="fields-connection" style="display:{{ 'none' if form['db_driver'].data == 'others' else 'block' }}">
                    {% for col in fieldsConnection %}
                        {% set field = form[col] %}
                        <div class="col-md-6 p-0">
                            {{ lib.render_connection(field) }}
                        </div>
                    {% endfor %}
                    {{ lib.render_showpass(form['db_user']) }}
                </div>
                <div id="field-uri" class="col-md-12 p-0" style="display:{{ 'block' if form['db_driver'].data == 'others' else 'none' }}">
                    {{ lib.render_connection(form['sqlalchemy_uri']) }}
                </div>
                <div class="col-md-12"><button id="testconn" class="btn btn-sm btn-primary">{{ _("Test Connection") }}</button></div>
            </div>
            {% for col in include_cols %}
                {% set field = form[col] %}
                {% if field.name not in exclude_cols %}
                    {% if field.name not in fieldsHandle and field.name not in fieldsConnection %}
                        {{ lib.render_hidden_field(field) }}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <div class="col-w-100 more-option">
                <span>More Option <i class="fa fa-angle-down" aria-hidden="true"></i></span>
            </div>
        </div>
    {{ lib.render_form_controls() }}
</form>
