{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
#}

{% import 'appbuilder/general/lib.html' as lib %}
{% set menu = appbuilder.menu %}
{% set WARNING_MSG = appbuilder.app.config.get('WARNING_MSG') %}
{% set CHAT_BOX_ENABLE = appbuilder.app.config.get('CHAT_BOX_ENABLE') %}
{% from 'superset/partials/asset_bundle.html' import css_bundle, js_bundle with context %}

{% set favicons = appbuilder.app.config['FAVICONS'] %}

<html>
  <head>
    <title>
      {% block title %}
        {% if title %}
          {{ title }}
        {% elif appbuilder and appbuilder.app_name %}
          {{ appbuilder.app_name }}
        {% endif %}
      {% endblock %}
    </title>
    {% block head_meta %}{% endblock %}
    {% block head_css %}
    <link href="/static/appbuilder/css/bootstrap.min.css" rel="stylesheet">
      {% for favicon in favicons %}
        <link 
          rel="{{favicon.rel if favicon.rel else "icon"}}"
          type="{{favicon.type if favicon.type else "image/png"}}" 
          {% if favicon.sizes %}sizes={{favicon.sizes}}{% endif %} 
          href="{{favicon.href}}"
        >
      {% endfor %}
      <link rel="stylesheet" type="text/css" href="/static/appbuilder/css/flags/flags16.css" />
      <link rel="stylesheet" type="text/css" href="/static/appbuilder/css/font-awesome.min.css">

      {{ css_bundle("theme") }}

      {% if entry %}
        {{ css_bundle(entry) }}
      {% endif %}

    {% endblock %}

    {{ js_bundle("theme") }}

    <input
      type="hidden"
      name="csrf_token"
      id="csrf_token"
      value="{{ csrf_token() if csrf_token else '' }}"
    >
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body {% if standalone_mode %}class="standalone"{% endif %}>
    <div id="data-bootstrap" data-bootstrap="{{ appbuilder.data_config }}"></div>
    <div id="data-current_user" data-current_user="{{ current_user.email }}"></div>
    {% block navbar %}
      {% if not standalone_mode %}
        <header class="top" role="header">
          {% include 'appbuilder/navbar.html' %}
        </header>
      {% endif %}
    {% endblock %}

    {% block body %}
        <div class="container-fluid">
          <div class="row custom-layout">
            <div class="body-content">
              <div id="app" data-bootstrap="{{ bootstrap_data }}">
                {{ lib.loading() }}
              </div>
            </div>
          </div>
        </div>
    {% endblock %}

    <!-- Modal for misc messages / alerts  -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    {% block tail_js %}
      {% if entry %}
        {{ js_bundle(entry) }}
      {% endif %}
    {% endblock %}
  </body>
  {% if CHAT_BOX_ENABLE == 'true' %}
      <div class="responsive-embed chat-box">
        <div class="chat-bar" id='hideshow'>
          <div class="top-bar">
            <div class="name">
              <image src="/static/assets/images/icon_chat.png" style="width: 53px; height: 53px; cursor: pointer;" />
            </div>
          </div>
        </div>
        <div class="panel chat-panel" style="
                        max-width: none !important;
                        width: 100%;
                        display: block;
                        height: 50px;
                        margin-right: 0;
                        border-top-right-radius: 2px;
                        border-bottom-right-radius: 2px;
                        visibility: visible;
                    ">
          <button id="hidebutton" style="display: none;">
            <i class="fa fa-expand"></i>
          </button>
          <iframe class="chat-content" src="/dialogflow/" frameborder="0" width="750" height="0" allowfullscreen></iframe>
        </div>
      </div>
  {% endif %}
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/20737978.js"></script>
  <!-- End of HubSpot Embed Code -->
</html>
