{% extends "appbuilder/white.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block body %}
    <div class="container-fluid">
        <div class="row custom-layout">
            <div class="body-content">
                <div id="app" data-bootstrap="{{ bootstrap_data }}">
                    {{ lib.loading() }}
                    <form class="form" action="" method="post" name="abc" autocomplete="off">
                        {{form.hidden_tag()}}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block tail_js %}
        {% if entry %}
            {% with filename=entry %}
                {{ js_bundle(entry) }}
            {% endwith %}
        {% endif %}
    {% endblock %}
    {% block tail_css %}
        {% if entry %}
            {% with filename=entry %}
                {{ css_bundle(entry) }}
            {% endwith %}
        {% endif %}
    {% endblock %}
{% endblock %}
