<!-- extend base layout -->
{% extends "appbuilder/white.html" %}

{% block content %}

<div class="container-fluid login-custom">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-12">
          <div class="app-name"><img src="/static/assets/images/logo-blue.png" class="logo-login"
                                     alt="{{ appbuilder.app_name }}"></div>
        </div>
        <div class="col-md-12 box-form-login">
          <div class="col-md-6 frames-cover">
            <img src="/static/assets/images/gif-homepage.gif" class="image-cover img-login-gif">
          </div>
          <div class="col-md-6 p-0">
              {% block messages %}
                  {% include 'appbuilder/flash.html' %}
              {% endblock %}
              <div id="loginbox" class="mainbox">
                  <div class="">
                      <div class="panel-body login-inner">
                          <form class="form" action="" method="post" name="forgotpassword" autocomplete="off">
                              {{form.hidden_tag()}}
                              <div class="control-group{% if form.errors.openid is defined %} error{% endif %}">
                                  <!-- <label class="control-label" for="openid">Email:</label> -->
                                  <div class="controls">
                                      <div class="input-group u-mb-23">
                                          {{ form.email(size = 100, class = "form-control mb-5 login-input", placeholder = "Email") }}
                                          <span class="help-block">Enter your account email address and we will send you a link to reset your password.</span>
                                      </div>
                                      {% for error in form.errors.get('openid', []) %}
                                      <span class="help-inline">[{{error}}]</span><br>
                                      {% endfor %}
                                  </div>
                              </div>

                              <div class="control-group">
                                  <div class="controls">
                                      <br>
                                      <div>
                                          <input class="btn btn-login-form btn-block btn-login-size" type="submit" value="Request Password Reset">
                                          {% if appbuilder.sm.auth_user_registration %}
                                          <a href="{{appbuilder.sm.get_url_for_registeruser}}"
                                              class="btn btn-block btn-login-form btn-login-size" data-toggle="tooltip" rel="tooltip"
                                              title="{{_('If you are not already a user, please register')}}">
                                              {{_('Register')}}
                                          </a>
                                          {% endif %}
                                      </div>
                                  </div>
                              </div>
                          </form>

                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
