<!-- extend base layout -->
{% extends "appbuilder/white.html" %}

{% block content %}

<div class="container-fluid login-custom">
    <div class="row">
        <div class="col-md-6 p-0 col-sm-offset-3">
            {% block messages %}
                {% include 'appbuilder/flash.html' %}
            {% endblock %}
            <div id="loginbox" class="mainbox">
                <div class="">
                    <div class="app-name"><h1>{{ appbuilder.app_name }}</h1></div>
                    <div style="padding-top:30px" class="panel-body">
                        <div class="control-group">
                            <div class="controls">
                                <p class="fotgot-password-success">{{ content|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
